# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and databases
*.log
*.sqlite3

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Secrets / config files
config.yaml
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache and environment folders
__pycache__/
*.pyc
env/
venv/

# Ignore unwanted files and folders
data/
images_to_recognize/
mlruns/
yolo_cls_project/
recognition_runs/
models_full/
all_yolo_recognition_runs_comparision/
some_scripts/
WARP.md

